---
name: Validation

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Check for common misspellings
  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: codespell-project/actions-codespell@master

  # Markdown formatting
  remark:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: 14
    - name: Install dependencies
      run: npm install `cat npm-requirements.txt`
    - name: Run style checks
      run: npx remark src/**/*.md --frail --rc-path .remarkrc

  # Avoid Latin phrases to improve readability
  latin-phrases:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
    - name: Run Python script to check for Latin phrases
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        python no-bad-latin.py
      working-directory: tools
    - name: Run Python script to check for Latin phrases - Pull Request
      if: github.event.pull_request
      run: |
        python no-bad-latin.py
      working-directory: tools

  # Validate CITATION.cff
  validate_cff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check whether the citation metadata from CITATION.cff is valid
      uses: citation-file-format/cffconvert-github-action@2.0.0
      with:
        args: --validate

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
